{% for article in articles %}
        <div class="row mt-3">
            <div class="col-md-5">

                <img class="img-fluid mb-3 mb-md-0 imgBlog"
                     src="{{ asset('/uploads/articles/'~ article.picture) }}"
                     alt="Image de l'article {{ article.title }}">

            </div>
            <div class="col-md-7">
                <div class="row">
                    <h3 class="titleBlog">{{ article.title }}</h3>
                </div>
                <p class="blockquote-footer mt-1">
                    {{ article.category.name }}
                </p>
                <p class="my-3">
                    {{ article.content [:150] |raw }}
                </p>
                <div class="text-end">
                    <a class="text-decoration-none linkart" href="{{ path('blog_article',{'slug': article.slug}) }}">
                        Lire l'article
                        <i class="fa-solid fa-greater-than fa-xs ms-1"></i>
                    </a>
                </div>
            </div>
        </div>
{% endfor %}