{% extends 'base.html.twig' %}

{% block title %}{{ parent() }} {{ article.title }}{% endblock %}

{% block body %}
    <div class="container">

        <h1 class="navhead display-3">{{ article.title }}</h1>

        <div class="row">
            <div class="col-12 col-lg-9 mt-3">
                {{ article.content|raw }}
            </div>

            {{ render(controller('App\\Controller\\TemplateController::categright')) }}

        </div>
    </div>
{% endblock %}