{% extends 'base.html.twig' %}

{% block title %}{{ parent() }} Réalisations{% endblock %}

{% block body %}
    <div class="container">
        <h1 class="navhead display-2 text-center">Mes réalisations</h1>

        <div class="row mt-3 justify-content-center align-items-center">

            {% for real in reals %}
                <div class="col-lg-3 mb-4">
                    <div class="card border-0 shadow">
                        <img src="{{ asset('/uploads/real/' ~ real.picture ) }}"
                             class="imgReal card-img-top" alt="Image de projet {{ real.name }}">
                        <div class="card-body text-center">
                            <h5 class="card-title mb-0 titleBlog">{{ real.name }}</h5>
                            <div class="card-text text-black-50">
                                {{ real.content|raw }}
                            </div>
                        </div>
                        <div class="card-footer bg-transparent d-grid p-0">
                            <a href="{{ real.link }}" target="_blank" class="btn btn-outline-primary">Le site</a>
                        </div>
                    </div>
                </div>
            {% endfor %}

        </div>

    </div>
{% endblock %}

