{{ form_start(form) }}
<div class="row g-2 my-3">
    <div class="col-md">
        <div class="form-floating">
            {{ form_widget(form.subcategory,
                {'attr': {'class':'form-control'}}) }}
            {{ form_label(form.subcategory, 'La sous-categorie') }}
        </div>
    </div>

    <div class="col-md">
        <div class="form-floating">
            {{ form_widget(form.family,
                {'attr': {'class':'form-control'}}) }}
            {{ form_label(form.family, 'La Famille') }}
        </div>
    </div>
</div>
<div class="mb-3">
    {{ form_label(form.picture) }}
    {{ form_widget(form.picture,
        {'attr': {'class':'form-control'}}) }}
</div>

<div class="form-floating mb-3">
    {{ form_widget(form.name,
        {'attr': {'class':'form-control','placeholder': 'Nom de l\'édition'}}) }}
    {{ form_label(form.name) }}
</div>

<div class="d-grid my-3">
    <button class="btn btn-outline-success">{{ button_label|default('Enregistrer') }}</button>
</div>
{{ form_end(form) }}

{% block javascripts %}
    <script>
        document.addEventListener('DOMContentLoaded', function () {
            const subcategoryEl = document.getElementById('collection_edition_subcategory');
            subcategoryEl.addEventListener('change', function (e) {
                const formEl = subcategoryEl.closest('form');
                fetch(formEl.action, {
                    method: formEl.method,
                    body: new FormData(formEl)
                })
                    .then(response => response.text())
                    .then((html) => {
                        const parser = new DOMParser();
                        const doc = parser.parseFromString(html, 'text/html');
                        const newCollectionEl = doc.getElementById('collection_edition_family');
                        newCollectionEl.addEventListener('change', function (e) {
                            e.target.classList.remove('is-invalid');
                        });
                        document.getElementById('collection_edition_family').replaceWith(newCollectionEl);
                    })
                    .catch(function (err) {
                        console.warn('Something went wrong.', err);
                    });
            });
        });
    </script>
{% endblock %}