{% extends 'base.html.twig' %}

{% block title %}CollectionEdition index{% endblock %}

{% block body %}
    <h1>CollectionEdition index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>Slug</th>
                <th>Picture</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for collection_edition in collection_editions %}
            <tr>
                <td>{{ collection_edition.id }}</td>
                <td>{{ collection_edition.name }}</td>
                <td>{{ collection_edition.slug }}</td>
                <td>{{ collection_edition.picture }}</td>
                <td>
                    <a href="{{ path('collection_edition_admin_show', {'id': collection_edition.id}) }}">show</a>
                    <a href="{{ path('collection_edition_admin_edit', {'id': collection_edition.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="5">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('collection_edition_admin_new') }}">Create new</a>
{% endblock %}
