{% extends 'base.html.twig' %}

{% block title %}{{ parent() }} Gestion lien social{% endblock %}

{% block body %}
    <div class="container">
        <h1 class="navhead display-2 text-center">Gestion lien social</h1>

        <div class="card">
            <div class="table-responsive card-body shadow-lg">
                <table class="table text-center">
                    <thead>
                    <tr>
                        <th>Nom</th>
                        <th>Logo</th>
                        <th>Lien</th>
                        <th>Voir</th>
                        <th>Modifier</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for social in socials %}
                        <tr>
                            <td>{{ social.name }}</td>
                            <td><i class="{{ social.logo }} fa-2xl"></i></td>
                            <td>
                                <a class="text-decoration-none" href="{{ social.link }}" target="_blank">Lien</a>
                            </td>
                            <td>
                                <a class="text-decoration-none" href="{{ path('social_admin_show', {'id': social.id}) }}">Voir</a>
                            </td>
                            <td>
                                <a class="text-decoration-none" href="{{ path('social_admin_edit', {'id': social.id}) }}">Modifier</a>
                            </td>
                        </tr>
                    {% else %}
                        <tr class="text-center">
                            <td colspan="5">no records found</td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
                <div class="d-grid">
                    <a href="{{ path('social_admin_new') }}" class="btn btn-outline-info">Créer un nouveau</a>
                </div>
            </div>
        </div>

    </div>
{% endblock %}
