{% extends 'base.html.twig' %}

{% block title %}{{ parent() }} Zone Admin{% endblock %}

{% block body %}
    <div class="container row mx-auto">
        <h1 class="navhead display-2 text-center my-3">Espace Admin</h1>

        <div class="col-sm-4 py-2 text-center">
            <div class="card bg-transparent">
                <div class="card-body">
                    <h3 class="card-title"><i class="fa-solid fa-sitemap"></i> Gestion site</h3>

                    <div class="my-2">
                        <p>
                            Inscription / Disponibilité
                        </p>
                        <div class="d-grid">
                            <a href="{{ path('site_index') }}" type="button" class="btn btn-danger">Inscription / Disponibilité</a>
                        </div>
                    </div>

                    <div class="my-2">
                        <p>
                            Réseaux sociaux
                        </p>
                        <div class="d-grid">
                            <a href="{{ path('social_admin_index') }}" type="button" class="btn btn-primary">Réseaux sociaux</a>
                        </div>
                    </div>

                </div>
            </div>
        </div>

        <div class="col-sm-4 py-2 text-center">
            <div class="card text-white bg-danger">
                <div class="card-body">
                    <h3 class="card-title"><i class="fa-solid fa-blog"></i> Blog</h3>
                    <p class="card-text">Liste des Articles</p>

                    <div class="btn-group mx-auto">
                        <a href="{{ path('categ_blog_admin_index') }}" class="btn btn-outline-light">Catégorie</a>
                        <a href="{{ path('article_admin_index') }}" class="btn btn-outline-light">Articles</a>
                    </div>

                </div>
            </div>
        </div>

        <div class="col-sm-4 py-2 text-center">
            <div class="card text-white bg-success">
                <div class="card-body">
                    <h3 class="card-title"><i class="fa-solid fa-code"></i> Réalisations</h3>
                    <p class="card-text">Liste des réalisations</p>

                    <div class="btn-group">
                        <a href="{{ path('categ_real_admin_index') }}" class="btn btn-outline-light">Catégorie</a>
                        <a href="{{ path('realisation_admin_index') }}" class="btn btn-outline-light">Réalisations</a>
                    </div>

                </div>
            </div>
        </div>

    </div>
{% endblock %}
