{{ form_start(form) }}
<div class="form-floating mb-3">
    {{ form_widget(form.name,
        {'attr': {'class':'form-control','placeholder': 'Nom'}}) }}
    {{ form_label(form.name) }}
</div>
<div class="form-floating mb-3">
    {{ form_widget(form.picture,
        {'attr': {'class':'form-control'}}) }}
</div>
<div class="form-floating mb-3">
    {{ form_widget(form.content,
        {'attr': {'class':'form-control'}}) }}
</div>
<div class="form-floating mb-3">
    {{ form_widget(form.link,
        {'attr': {'class':'form-control','placeholder': 'Lien'}}) }}
    {{ form_label(form.link) }}
</div>
<div class="form-floating mb-3">
    {{ form_widget(form.category,
        {'attr': {'class':'form-control','placeholder': 'Categorie'}}) }}
    {{ form_label(form.category) }}
</div>


<div class="d-grid my-3">
    <button class="btn btn-outline-success">{{ button_label|default('Enregistrer') }}</button>
</div>
{{ form_end(form) }}
