{% extends 'base.html.twig' %}

{% block title %}{{ parent() }} Gestion des réalisations{% endblock %}

{% block body %}
    <div class="container">
        <h1 class="navhead display-2 text-center">Gestion des réalisations</h1>

        <div class="card">
            <div class="table-responsive card-body shadow-lg">
                <table class="table">
                    <thead>
                    <tr>
                        <th>Nom</th>
                        <th>Slug</th>
                        <th>Image</th>
                        <th>Content</th>
                        <th>Site</th>
                        <th>Voir</th>
                        <th>Modifier</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for realisation in realisations %}
                        <tr>
                            <td>{{ realisation.name }}</td>
                            <td>{{ realisation.slug }}</td>
                            <td class="text-center">
                                {% if realisation.picture is not empty %}
                                    <a class="text-decoration-none"
                                       href="{{ asset('uploads/real/') ~ realisation.picture }}" target="_blank">
                                        <i class="fa-solid fa-eye text-success"></i>
                                    </a>
                                {% else %}
                                    <i class="fa-solid fa-circle-xmark text-danger"></i>
                                {% endif %}
                            </td>
                            <td>{{ realisation.content }}</td>
                            <td>
                                <a href="{{ realisation.link }}" target="_blank">
                                    <i class="fa-solid fa-arrow-up-right-from-square text-info"></i>
                                </a>
                            </td>
                            <td>
                                <a href="{{ path('realisation_admin_show', {'id': realisation.id}) }}">Voir</a>
                            </td>
                            <td>
                                <a href="{{ path('realisation_admin_edit', {'id': realisation.id}) }}">Modifier</a>
                            </td>
                        </tr>
                    {% else %}
                        <tr class="text-center">
                            <td colspan="7">no records found</td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
                <div class="d-grid">
                    <a href="{{ path('realisation_admin_new') }}" class="btn btn-outline-info">Créer un nouveau</a>
                </div>
            </div>
        </div>
    </div>
{% endblock %}