{% extends 'base.html.twig' %}

{% block title %}Realisation{% endblock %}

{% block body %}
    <h1>Realisation</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ realisation.id }}</td>
            </tr>
            <tr>
                <th>Name</th>
                <td>{{ realisation.name }}</td>
            </tr>
            <tr>
                <th>Slug</th>
                <td>{{ realisation.slug }}</td>
            </tr>
            <tr>
                <th>Picture</th>
                <td>{{ realisation.picture }}</td>
            </tr>
            <tr>
                <th>Content</th>
                <td>{{ realisation.content }}</td>
            </tr>
            <tr>
                <th>Link</th>
                <td>{{ realisation.link }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('realisation_admin_index') }}">back to list</a>

    <a href="{{ path('realisation_admin_edit', {'id': realisation.id}) }}">edit</a>

    {{ include('realisation_admin/_delete_form.html.twig') }}
{% endblock %}
