{% extends 'base.html.twig' %}

{% block title %}{{ parent() }} Gestion Sous-Catégorie Collection{% endblock %}

{% block body %}
    <div class="container">
        <h1 class="navhead display-2 text-center">Gestion Sous-Catégorie Collection</h1>

        <div class="card">
            <div class="table-responsive card-body shadow-lg">
                <table class="table text-center">
                    <thead>
                    <tr>
                        <th>Nom</th>
                        <th>Slug</th>
                        <th>Image</th>
                        <th>Voir</th>
                        <th>Modifier</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for collection_subcategory in collection_subcategories %}
                        <tr>
                            <td>{{ collection_subcategory.name }}</td>
                            <td>{{ collection_subcategory.slug }}</td>
                            <td>
                                {% if collection_subcategory.picture is not empty %}
                                    <a target="_blank" class="text-decoration-none"
                                       href="{{ asset('uploads/SousCategCollection/' ~ collection_subcategory.picture ) }}">Image</a>
                                {% else %}
                                    Non
                                {% endif %}
                            </td>
                            <td>
                                <a class="text-decoration-none" href="{{ path('collection_subcategory_admin_show', {'id': collection_subcategory.id}) }}">Voir</a>
                            </td>
                            <td>
                                <a class="text-decoration-none" href="{{ path('collection_subcategory_admin_edit', {'id': collection_subcategory.id}) }}">Modifier</a>
                            </td>
                        </tr>
                    {% else %}
                        <tr class="text-center">
                            <td colspan="5">Aucun enregistrement trouvé</td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>

                <div class="d-grid">
                    <a href="{{ path('collection_subcategory_admin_new') }}" class="btn btn-outline-info">Créer une
                        nouvelle Sous-Catégorie</a>
                </div>
            </div>
        </div>
    </div>
{% endblock %}