{% extends 'base.html.twig' %}

{% block title %}{{ parent() }} Gestion des familles de produit{% endblock %}

{% block body %}
    <div class="container">
        <h1 class="navhead display-2 text-center">Gestion des familles de produit</h1>

        <div class="card">
            <div class="table-responsive card-body shadow-lg">
                <table class="table text-center">
                    <thead>
                    <tr>
                        <th>Nom</th>
                        <th>Slug</th>
                        <th>Image</th>
                        <th>Voir</th>
                        <th>Modifier</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for collection_family in collection_families %}
                        <tr>
                            <td>{{ collection_family.name }}</td>
                            <td>{{ collection_family.slug }}</td>
                            <td>
                                {% if collection_family.picture is not empty %}
                                    <a target="_blank" class="text-decoration-none"
                                       href="{{ asset('uploads/CategCollection/' ~ collection_family.picture ) }}">Image</a>
                                {% else %}
                                    Non
                                {% endif %}
                            </td>
                            <td>
                                <a class="text-decoration-none"
                                   href="{{ path('collection_family_admin_show',{'id': collection_family.id}) }}">Voir
                                </a>
                            </td>
                            <td>
                                <a class="text-decoration-none" href="{{ path('collection_family_admin_edit',
                                    {'id': collection_family.id}) }}">Modifier
                                </a>
                            </td>
                        </tr>
                    {% else %}
                        <tr>
                            <td colspan="5">Aucun enregistrement trouvé</td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>

                <div class="d-grid">
                    <a href="{{ path('collection_family_admin_new') }}" class="btn btn-outline-info">Créer une
                        nouvelle famille
                    </a>
                </div>
            </div>
        </div>
    </div>
{% endblock %}