{% extends 'base.html.twig' %}

{% block title %}{{ parent() }} Gestion site{% endblock %}

{% block body %}
    <div class="container">
        <h1 class="navhead display-2 text-center">Gestion Site</h1>

        <div class="card">
            <div class="card-body shadow-lg">
                <table class="table">
                    <thead>
                    <tr>
                        <th>Inscription</th>
                        <th>Dispo</th>
                        <th>Voir</th>
                        <th>Modifier</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for site in sites %}
                        <tr>
                            <td>{{ site.register ? 'Oui' : 'Non' }}</td>
                            <td>{{ site.available ? 'Oui' : 'Non' }}</td>
                            <td>
                                <a href="{{ path('site_show', {'id': site.id}) }}">Voir</a>
                            </td>
                            <td>
                                <a href="{{ path('site_edit', {'id': site.id}) }}">Modifier</a>
                            </td>
                        </tr>
                    {% else %}
                        <tr class="text-center">
                            <td colspan="4">Aucun enregistrement trouvé</td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
                <div class="d-grid">
                    <a href="{{ path('site_new') }}" class="btn btn-outline-info">Créer un nouveau</a>
                </div>
            </div>
        </div>

    </div>
{% endblock %}
