{% extends 'base.html.twig' %}

{% block title %}{{ parent() }} Gestion Article du Blog{% endblock %}

{% block body %}
    <div class="container">
        <h1 class="navhead display-2 text-center">Gestion Article du Blog</h1>

        <div class="card">
            <div class="card-body shadow-lg">
                <table class="table">
                    <thead>
                    <tr>
                        <th>Date</th>
                        <th>Titre</th>
                        <th>Slug</th>
                        <th>Image</th>
                        <th>Video</th>
                        <th>Content</th>
                        <th>Voir</th>
                        <th>Modifier</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for article in articles %}
                        <tr>
                            <td>{{ article.created|date('d/m/Y') }}</td>
                            <td>{{ article.title }}</td>
                            <td>{{ article.slug }}</td>
                            <td class="text-center">
                                {% if article.picture is not empty %}
                                    <a class="text-decoration-none"
                                       href="{{ asset('uploads/articles/' ~ article.picture ) }}" target="_blank">
                                        <i class="fa-solid fa-eye text-success"></i>
                                    </a>
                                {% else %}
                                    <i class="fa-solid fa-circle-xmark text-danger"></i>
                                {% endif %}
                            </td>
                            <td class="text-center">
                                {% if article.movie is not empty %}
                                    {{ article.movie }}
                                {% else %}
                                    <i class="fa-solid fa-circle-xmark text-danger"></i>
                                {% endif %}
                            </td>
                            <td class="text-center"><a href="{{ path('blog_article',{'slug': article.slug }) }}" class="text-decoration-none text-dark">Lire <i class="fa-solid fa-greater-than text-success fa-xs ps-2"></i></a></td>
                            <td><a href="{{ path('article_admin_show', {'id': article.id}) }}">Voir</a></td>
                            <td><a href="{{ path('article_admin_edit', {'id': article.id}) }}">Modifier</a></td>
                        </tr>
                    {% else %}
                        <tr class="text-center">
                            <td colspan="8">Aucun enregistrement trouvé</td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>


                <div class="d-grid">
                    <a href="{{ path('article_admin_new') }}" class="btn btn-outline-info">Créer un nouveau</a>
                </div>
            </div>
        </div>
    </div>
{% endblock %}