{{ form_start(form) }}
<div class="form-floating mb-3">
    {{ form_widget(form.name,
        {'attr': {'class':'form-control','placeholder': 'Nom de la catégorie Réalisation'}}) }}
    {{ form_label(form.name) }}
</div>
<div class="d-grid my-3">
    <button class="btn btn-outline-success">{{ button_label|default('Enregistrer') }}</button>
</div>
{{ form_end(form) }}