{% extends 'base.html.twig' %}

{% block title %}{{ parent() }} Gestion Catégorie Réalisation{% endblock %}

{% block body %}
    <div class="container">
        <h1 class="navhead display-2 text-center">Gestion Catégorie Réalisation</h1>

        <div class="card">
            <div class="table-responsive card-body shadow-lg">
                <table class="table">
                    <thead>
                    <tr>
                        <th>Nom</th>
                        <th>Slug</th>
                        <th>Voir</th>
                        <th>Modifier</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for categ_real in categ_reals %}
                        <tr>
                            <td>{{ categ_real.name }}</td>
                            <td>{{ categ_real.slug }}</td>
                            <td>
                                <a class="text-decoration-none" href="{{ path('categ_real_admin_show', {'id': categ_real.id}) }}">Voir</a>
                            </td>
                            <td>
                                <a class="text-decoration-none" href="{{ path('categ_real_admin_edit', {'id': categ_real.id}) }}">Modifier</a>
                            </td>
                        </tr>
                    {% else %}
                        <tr class="text-center">
                            <td colspan="4">Aucun enregistrement trouvé</td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>


                <div class="d-grid">
                    <a href="{{ path('categ_real_admin_new') }}" class="btn btn-outline-info">Créer un nouveau</a>
                </div>
            </div>
        </div>
    </div>
{% endblock %}