{% extends 'base.html.twig' %}

{% block title %}{{ parent() }} Gestion utilisateur{% endblock %}

{% block body %}
    <div class="container">
        <h1 class="navhead display-2 text-center">Gestion utilisateur</h1>

        <div class="card">
            <div class="table-responsive card-body shadow-lg">
                <table class="table">
                    <thead>
                    <tr>
                        <th>Email</th>
                        <th>Pseudo</th>
                        <th>Register_date</th>
                        <th>Last_co</th>
                        <th>IsVerified</th>
                        <th>Voir</th>
                        <th>Modifier</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for user in users %}
                        <tr>
                            <td>{{ user.email }}</td>
                            <td>{{ user.pseudo }}</td>
                            <td>{{ user.registerDate ? user.registerDate|date('d-m-Y H:i:s') : '' }}</td>
                            <td>{{ user.lastCo ? user.lastCo|date('d-m-Y H:i:s') : '' }}</td>
                            <td>{{ user.isVerified ? 'Oui' : 'Non' }}</td>
                            <td>
                                <a class="text-decoration-none" href="{{ path('user_admin_show', {'id': user.id}) }}">Voir</a>
                            </td>
                            <td>
                                <a class="text-decoration-none" href="{{ path('user_admin_edit', {'id': user.id}) }}">Modifier</a>
                            </td>
                        </tr>
                    {% else %}
                        <tr>
                            <td colspan="9">no records found</td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>

    </div>
{% endblock %}
